.detailImg{
    max-width: 65%;
    max-height: 50%;
}
.details{
    margin-top: 5rem;
}
.details ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container h3{
    margin: auto;
}
.step-container ol{
    padding: 2%;
}