.detailsContainer{
    padding: 0 3%;
}
.detailsContainer h1{
    text-align: center;
}
.subContainer{
    display: flex;
    justify-content: space-evenly;
}
.info{
    padding: 0 5%;
}
.detailImg{
    max-width: 65%;
    max-height: 50%;
}
.details ol{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
.stepContainer li{
    padding: 2%;
}
.deleteContainer{
    width: fit-content;
    margin: 3% auto;
}
.delete{
    background-color: rgba(249, 0, 0, 0.822);
    border: none;
    border-radius: 1rem;
    width: 7rem;
    height: 3rem;
}
.delete:hover{
    width: 8rem;
    height: 3.5rem;
    cursor: pointer;
    color: white;
}
.editBtn{
    background-color: orange;
    border-radius: 0.3rem;
    border: none;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    margin: auto;
    margin-top: 2rem;
    font-size: large;
}

@media (width < 500px) {
    .subContainer{
        display: flex;
        flex-direction: column;
        padding: 0 10%;
    }
}