.auth h1{
    text-align: center;
}

.goBack{
    background-color: orange;
    border: none;
    padding: 2%;
    border-radius: 0.3rem;
    margin: 5px;
}

.regContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
  
.registerForm{
    width: min-content;
    height: max-content;
    background-color: orange;
    border-radius: 0.3rem;
}

.registerForm p{
    margin-left: 3%;
}
  
.hide {
    display: none;
}

.valid {
    color: rgb(63, 50, 205);
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}
  
.registerBtn{
    background-color: rgb(252, 110, 28);
    border-radius: 0.3rem;
    border: none;
    width: 100%;
    height: 80%;
    cursor: pointer;
    margin: auto;
    margin-top: 10%;
    font-size: large;
}

.items{
    margin: 2rem 1rem;
    height: 2rem;
}


.items input{
    border-radius: 0.3rem;
    height: 80%;
    border: none;
    outline: none;
}

.box{
    margin-top: -0.1rem;
    padding: 0 3px;
    background-color: black;
    color: white;
    position: absolute;
    max-width: 40%;
}

.loggedIn{
    display: flex;
    flex-direction: row-reverse;
    font-size: small;
}