.rCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#home{
    margin-top: 6rem;
}
#home div{
    margin-bottom: 1rem;
}
.rCards a:visited{
    color: black;
}
.rCards a{
    color: black;
}