.home{
    margin-bottom: 7%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
@media (width < 1000px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}
@media (width < 750px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}