.rCards{
    display: flex;
    justify-content: center;
}
#home{
    margin-top: 5.3%;
}
#home div{
    margin-bottom: 1rem;
}
.rCards a:visited{
    color: black;
    text-decoration: none;
}
.rCards a{
    color: black;
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (width < 1000px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #home{
        margin-top: 8%;
    }   
}
@media (width < 750px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    #home{
        margin-top: 12%;
    }
}