.rCards{
    display: flex;
    justify-content: center;
}
#home{
    margin-top: 6rem;
}
#home div{
    margin-bottom: 1rem;
}
.rCards a:visited{
    color: black;
    text-decoration: none;
}
.rCards a{
    color: black;
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (width < 500px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }   
}
@media (width < 700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }   
}