#landing{
    background-image: url(./background.png);
    background-size: cover;
    height: 38rem;
    width: 100%;
}
#landing h1{
    padding-top: 6%;
}
.main{
    margin-top: 0;
}
.mainbtn{
    background-color: rgba(249, 204, 4, 0.557);
    border: none;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    font-weight: bold;
    font-size: x-large;
    margin-top: 6rem;
}
.mainbtn:hover{
    background-color: orange;
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
    color: blue;
}
@media (width < 400px) {
    @media (height < 700px ) {
        #landing{
            background-image: url(./background.png);
            background-size: cover;
            height: 50rem;
            width: 100%;
        }
    }
    @media (height < 900px ) {
        #landing{
            background-image: url(./background.png);
            background-size: cover;
            height: 55rem;
            width: 100%;
        }
    }
}
@media (width < 500px) {
    @media (height < 700px ) {
        #landing{
            background-image: url(./background.png);
            background-size: cover;
            height: 50rem;
            width: 100%;
        }
    }
    @media (height < 920px ) {
        #landing{
            background-image: url(./background.png);
            background-size: cover;
            height: 57rem;
            width: 100%;
        }
    }
}
@media (width < 800px) {
    @media (height < 1030px ) {
        #landing{
            background-image: url(./background.png);
            background-size: cover;
            height: 64rem;
            width: 100%;
        }
    }
}