.pNums{
    display: flex;
    position: sticky;
    bottom: 5px;
    width: fit-content;
    margin: auto;
}
.pNums button{
    background-color: orange;
    margin: 3rem 3px 0;
    border: none;
    border-radius: 5px;
    padding: 0.8em;
}
.pNums button:hover{
    background-color: rgba(173, 135, 21, 0.493);
}
.btn .onPage{
    background-color: rgb(255, 73, 1);
}

@media (width < 750px) {
    .pNums button{
        background-color: orange;
        margin: 20rem 3px 0;
        border: none;
        border-radius: 5px;
        padding: 0.8em;
    }
}