.recipeImg{
    width: 80%;
    height: 60%;
    margin: auto;
}
.card a{
    text-decoration: none;
    color: black;
}
.card{
    width: 24rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.625rem;
    background-color: rgba(229, 208, 114, 0.698);
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 1px 1px 5px;
}
.card p{
    margin-bottom: 0;
    height: 12%;
}
@media (width < 400) {
    .card{
        width: 18rem;
        height: 20rem;
    }
}