.recipeImg{
    width: 80%;
    height: 60%;
    margin: auto;
}
.card a{
    text-decoration: none;
    color: black;
}
.card{
    width: 90%;
    height: 25rem;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(229, 208, 114, 0.698);
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 1px 1px 5px gray;
}
.card p{
    margin-bottom: 0;
    height: 12%;
}
@media (width < 400) {
    .card{
        height: 20rem;
    }
}