.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #06aa1f;
    position: fixed;
    top: 0;
    width: 100%;
}
.navList{
    display: inline;
    float: left;
}
.navList Link {
    display: block;
    padding: 8px;
    background-color: #08120c;
}
.navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 14px;
    text-decoration: none;
}
.navList a:hover{
    background-color: #111;
}