.search{
    float: right;
    padding: 0.687rem 0.875rem;
    border-style: inset;
    border-color: rgb(139, 129, 213);
    margin-top: 0.5rem;
}
.search button{
    border-radius: 10%;
    background-color: aqua;
    border: none;
}
.search button:hover{
    background-color: black;
    color: rgb(26, 199, 26);
}
.search input{
    border: none;
}
@media (width < 400px) {
    .search{
        border-style: none;
        float: none;
    }
}